<div id="{{partId}}" class="form">
  <div class="header">
    <!-- Image -->
    <img data-action="editImage" src="{{actor.img}}"
      style="height:100px;aspect-ratio: 1;">
    <!-- Name -->
    <div class="form-group">
      <label>Name</label>
      {{formInput actor.schema.fields.name value=actor.name}}
    </div>
  </div>
  <!-- Fate -->
  <div class="fate">
    <div class="fate-type">
      <div class="direction">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="80"
          height="80" style="user-select: none;" viewBox="0 0 491 487"
          class="circle">
          <path fill="currentColor"
            d="M227.712 57.045c-13.824 1.295-30.931 5.132-44.2 9.94-2.081.74-3.976 1.341-4.254 1.341-.277 0-2.08.74-3.976 1.618-1.942.879-3.652 1.619-3.883 1.619-.185 0-1.572.6-3.098 1.34-1.526.74-4.762 2.312-7.166 3.514-2.405 1.156-5.733 2.96-7.398 3.93-1.664 1.017-3.93 2.358-5.086 3.052-4.947 2.82-6.472 3.79-9.154 5.825-1.572 1.248-3.052 2.22-3.236 2.22-.232 0-.879.462-1.48 1.016-.647.602-1.896 1.573-2.82 2.22-1.803 1.248-6.427 5.132-7.999 6.75-.555.555-1.895 1.711-3.051 2.589-3.283 2.497-11.42 10.819-17.431 17.8-5.871 6.843-6.842 8.045-10.125 12.946-1.202 1.711-2.774 3.837-3.468 4.67-.74.832-1.34 1.756-1.34 2.034 0 .277-1.11 2.219-2.497 4.253-1.387 2.081-2.867 4.485-3.283 5.364-.416.878-1.48 2.866-2.311 4.392a85.175 85.175 0 0 0-2.774 5.317c-.694 1.387-1.48 3.051-1.85 3.699-.323.647-1.017 2.219-1.525 3.467-.51 1.295-1.665 4.161-2.59 6.473-3.421 8.415-7.906 23.117-9.154 29.96-.509 3.005-.647 3.236-2.635 4.577-1.11.786-3.792 2.034-5.918 2.728-2.127.693-4.3 1.618-4.855 1.988-.555.416-1.294.74-1.664.74-.555 0-5.548 1.803-10.496 3.791-1.248.508-4.16 1.618-6.472 2.45a663.983 663.983 0 0 0-7.398 2.774c-3.283 1.295-6.981 2.682-14.101 5.317-2.173.786-4.346 1.85-4.901 2.358-.555.509-1.803 1.156-2.774 1.434-1.526.416-1.665.554-.879.878 1.156.462 80.725.509 81.419.046.693-.416 1.387-3.051 1.988-7.721 1.202-8.831 2.45-16.321 3.052-18.262.37-1.156 1.202-4.069 1.803-6.473 1.849-7.12 3.282-11.651 4.346-13.732.554-1.063 1.017-2.173 1.017-2.45 0-1.572 8.692-19.65 11.558-24.042.74-1.156 1.896-3.005 2.543-4.161.648-1.156 2.081-3.283 3.144-4.716 1.064-1.48 2.867-3.976 3.976-5.548 5.595-7.999 27.14-29.775 31.902-32.272.601-.277 2.312-1.526 3.838-2.681 5.918-4.624 11.743-8.091 23.209-13.917 4.069-2.08 7.675-3.745 8.091-3.745.416 0 1.202-.324 1.757-.694 1.11-.74 7.398-3.19 11.004-4.207 1.294-.37 3.884-1.156 5.779-1.757 4.439-1.433 15.119-3.837 18.725-4.207 1.526-.139 3.421-.462 4.161-.694.786-.23 3.237-.554 5.502-.693 3.699-.278 4.3-.462 5.456-1.618l1.294-1.295V58.664l-1.202-.925c-1.202-.971-2.589-1.11-7.12-.694ZM60.251 254.928c-1.48.786-1.572 1.618-.878 7.212.231 1.85.693 5.641.97 8.461.324 2.774.833 6.103 1.157 7.398.37 1.248.878 3.652 1.11 5.271.831 5.178 3.513 14.24 8.368 28.48 1.11 3.283 2.126 5.363 7.906 17.06 2.404 4.809 5.04 9.71 5.871 10.865.786 1.156 1.48 2.312 1.48 2.543 0 .555 7.444 11.559 10.403 15.304 8.183 10.449 18.031 21.221 23.117 25.29 1.294 1.017 3.282 2.728 4.438 3.791 1.202 1.017 3.237 2.728 4.578 3.745 1.294 1.017 4.114 3.19 6.241 4.855 4.207 3.236 11.836 8.322 12.576 8.322.231 0 .786.37 1.248.879.416.462 1.665 1.202 2.728 1.664 1.063.509 2.266 1.11 2.635 1.433 1.572 1.295 17.015 8.739 21.499 10.357 1.295.462 5.086 1.895 8.461 3.19 3.375 1.294 6.566 2.358 7.028 2.358.508 0 2.497.508 4.438 1.156 1.988.647 5.456 1.572 7.768 2.034 6.565 1.341 7.49 1.849 8.923 4.993.647 1.48 1.757 4.346 2.497 6.381.693 2.034 2.034 5.686 2.959 8.091.924 2.404 2.173 5.779 2.727 7.443.602 1.665 1.341 3.422 1.619 3.93.508.879 2.219 5.363 3.745 9.894.462 1.387 1.71 4.716 2.774 7.398 1.063 2.682 2.496 6.427 3.236 8.322.74 2.034 1.572 3.514 1.988 3.606 1.896.37 1.942-.231 2.081-40.455l.138-38.467-.97-.508c-.555-.278-3.006-.74-5.456-.971-6.843-.647-18.54-2.774-24.366-4.439-6.935-1.941-15.997-4.854-17.8-5.733-.971-.462-2.543-1.156-3.514-1.525-3.652-1.341-8.368-3.422-11.188-4.947a365.391 365.391 0 0 0-5.132-2.728c-1.202-.648-2.821-1.572-3.56-2.081-.74-.462-2.127-1.294-3.098-1.849-3.93-2.127-12.483-8.322-20.852-15.165-2.959-2.404-13.778-12.853-15.535-15.026-.878-1.064-2.311-2.728-3.097-3.699-2.312-2.635-7.167-8.923-8.507-10.957-1.572-2.451-2.127-3.283-4.485-6.751-1.11-1.572-2.543-3.837-3.19-4.993-.601-1.156-1.85-3.375-2.682-4.901-2.219-3.93-4.808-9.2-5.594-11.42-.37-1.063-.832-2.127-1.064-2.404-.23-.277-1.155-2.497-2.034-4.901-4.485-12.113-7.166-21.637-8.415-29.821-.416-2.82-.924-5.964-1.155-6.981-.278-1.064-.602-3.745-.74-5.965-.463-6.056.092-5.779-12.067-5.779-8.045.046-10.357.185-11.328.74Zm349.532.046c-.462.555-1.156 3.93-1.942 9.848-1.11 8.045-4.438 23.857-5.271 25.152-.185.277-.878 2.358-1.525 4.669-2.358 7.814-3.607 10.819-9.432 22.424-6.103 12.113-9.432 17.292-19.049 29.59-7.027 8.969-16.783 18.632-25.799 25.429-.832.647-2.774 2.127-4.299 3.329-1.526 1.155-3.237 2.404-3.838 2.681a19.009 19.009 0 0 0-2.358 1.572c-.647.555-2.265 1.572-3.606 2.358-1.341.74-3.375 2.034-4.531 2.82-1.202.786-2.959 1.665-3.884 1.989-.924.323-1.942.832-2.219 1.202-.277.369-1.526.971-2.774 1.387-1.248.416-2.497 1.017-2.774 1.387-.277.37-1.295.878-2.219 1.202-.925.277-2.404.924-3.283 1.387-.832.508-2.682 1.341-4.161 1.849-1.433.555-4.577 1.711-6.981 2.589-4.069 1.526-10.126 3.283-16.876 4.947-4.3 1.064-15.766 3.006-19.881 3.329-2.034.185-4.392.601-5.224.925l-1.526.601.139 10.865c.138 10.403.185 10.911 1.109 11.882.925.925 1.203.925 4.393.463 1.895-.232 5.409-.694 7.813-.971 5.965-.74 13.501-1.85 13.917-2.127.185-.093 2.265-.601 4.669-1.11 6.103-1.248 20.02-5.548 24.921-7.675 1.433-.601 2.866-1.109 3.144-1.109.277 0 1.71-.601 3.19-1.341 1.433-.694 3.144-1.48 3.791-1.664 2.081-.602 8.923-4.208 20.297-10.681 4.207-2.404 12.252-7.767 16.228-10.911 10.495-8.23 16.783-13.963 24.504-22.377 4.393-4.762 12.021-14.102 14.287-17.477 3.051-4.531 3.791-5.687 4.577-6.935.416-.74 1.248-1.849 1.757-2.543.555-.647 1.479-2.081 2.08-3.19.602-1.11 1.665-3.005 2.358-4.161 1.619-2.774 8.692-16.968 8.692-17.431 0-.231.509-1.433 1.11-2.727 2.682-5.733 6.889-18.402 9.062-27.556 2.543-10.588 1.896-9.663 8.322-12.16 3.005-1.202 5.733-2.173 6.011-2.173.277 0 1.156-.37 1.988-.786.832-.416 3.051-1.34 4.947-2.034 1.895-.694 5.224-1.896 7.397-2.728 2.173-.832 5.502-2.08 7.398-2.774a247.678 247.678 0 0 0 7.166-2.774 171.946 171.946 0 0 1 5.779-2.219c1.156-.37 3.237-1.156 4.624-1.757 1.387-.555 3.93-1.526 5.687-2.081 1.71-.554 3.097-1.202 3.097-1.433 0-.231-.739-.74-1.618-1.11-1.341-.554-7.536-.647-40.131-.647-36.155 0-38.606.046-39.253.786ZM256.786 81.002c.555.463 3.93 1.156 9.848 1.942 8.045 1.11 23.857 4.439 25.151 5.271.278.185 2.358.879 4.67 1.526 7.814 2.358 10.819 3.606 22.424 9.432 12.113 6.103 17.291 9.431 29.59 19.048 8.969 7.028 18.632 16.783 25.429 25.799.647.832 2.126 2.774 3.328 4.3 1.156 1.525 2.405 3.236 2.682 3.837a18.935 18.935 0 0 0 1.572 2.358c.555.647 1.572 2.266 2.358 3.606.74 1.341 2.034 3.376 2.82 4.531.786 1.202 1.665 2.959 1.988 3.884.324.925.833 1.942 1.202 2.219.37.278.971 1.526 1.387 2.774.417 1.249 1.018 2.497 1.387 2.774.37.278.879 1.295 1.203 2.22.277.924.924 2.404 1.387 3.282.508.833 1.34 2.682 1.849 4.161.555 1.434 1.711 4.578 2.589 6.982 1.526 4.068 3.283 10.125 4.947 16.875 1.064 4.3 3.005 15.766 3.329 19.881.185 2.034.601 4.392.925 5.225l.601 1.525 10.865-.138c10.403-.139 10.911-.185 11.882-1.11.925-.925.925-1.202.462-4.392-.231-1.896-.693-5.41-.971-7.814-.739-5.964-1.849-13.5-2.126-13.916-.093-.185-.601-2.266-1.11-4.67-1.248-6.103-5.548-20.02-7.675-24.92-.601-1.434-1.109-2.867-1.109-3.144 0-.278-.601-1.711-1.341-3.191-.694-1.433-1.48-3.143-1.665-3.791-.601-2.08-4.207-8.923-10.68-20.297-2.404-4.207-7.767-12.252-10.911-16.228-8.23-10.495-13.963-16.783-22.378-24.504-4.762-4.392-14.101-12.021-17.476-14.286-4.531-3.052-5.687-3.792-6.935-4.578-.74-.416-1.85-1.248-2.543-1.756-.647-.555-2.081-1.48-3.19-2.081a130.788 130.788 0 0 1-4.161-2.358c-2.774-1.618-16.968-8.692-17.431-8.692-.231 0-1.433-.509-2.728-1.11-5.733-2.681-18.401-6.889-27.555-9.062-10.588-2.542-9.663-1.895-12.16-8.322-1.202-3.005-2.173-5.733-2.173-6.01 0-.278-.37-1.156-.786-1.988-.416-.833-1.341-3.052-2.034-4.947-.694-1.896-1.896-5.225-2.728-7.398a635.433 635.433 0 0 1-2.774-7.397 250.403 250.403 0 0 0-2.774-7.167 171.513 171.513 0 0 1-2.219-5.779c-.37-1.156-1.156-3.236-1.757-4.623-.555-1.388-1.526-3.93-2.081-5.687C258.635 1.387 257.988 0 257.757 0c-.231 0-.74.74-1.11 1.618C256.092 2.96 256 9.154 256 41.75c0 36.155.046 38.605.786 39.252Z" />
        </svg>
        <select name="system.fate.direction">
          {{selectOptions system.config.directions selected=system.fate.direction}}
        </select>
      </div>
      <div class="attribute">{{label system.fateAttribute}}</div>
    </div>
    <div class="form-group">
      <label>Rank</label>
      <select name="system.fate.rank">
        {{selectOptions system.config.ranks selected=system.fate.rank}}
      </select>
    </div>
    {{formField system.schema.fields.fate.fields.glory value=system.fate.glory localize=true}}
  </div>
  <div class="weapons" data-drop-type="weapon">
    <label>Weapons</label>
    <ul>
      {{#each weapons as |item|}}
        <li data-action="editItem" data-uuid="{{item.uuid}}">
          <span>{{item.name}}</span><span>{{item.system.renderedTraits}}</span><span>{{item.system.range.value}}/{{item.system.range.max}}</span><span>{{item.system.wear.value}}/{{item.system.wear.max}}</span><span>{{item.system.damage}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
  <!-- Attributes -->
  <div class="attributes">
    <div>
      <button style="margin-block-start: -4px;" data-action="rollAttribute"
        data-attribute="grit">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="60"
          height="60" viewBox="0 0 189 216">
          <path fill="currentColor"
            d="m100.66 19.984.305 20.211 5.083.61c31.82 3.86 59.675 28.64 68.316 60.836 2.541 9.14 2.541 31.484 0 40.625-9.861 36.359-41.884 61.14-78.99 61.242-35.174 0-66.587-22.141-77.77-55.149-8.336-24.476-4.88-50.273 9.76-72.109C39.46 58.172 58.572 45.477 79.21 41.719c12.2-2.133 11.08-1.422 11.08-7.516 0-3.453-.507-5.687-1.22-5.89-1.727-.61-15.35 1.625-21.653 3.554C52.473 36.234 37.123 45.984 25.94 58.07c-11.996 12.9-19.62 27.727-23.28 45.4-1.627 8.023-1.932 12.187-1.525 22.547.712 15.437 2.948 23.968 9.963 38.187 12.402 25.188 34.97 42.86 63.639 49.766 10.064 2.336 31.311 2.133 41.985-.508 36.293-9.039 63.436-37.07 70.654-73.125 2.44-11.578 1.627-32.906-1.525-43.774-8.946-31.382-33.344-55.96-64.351-64.898l-9.047-2.64-5.287-13.915C104.32 7.492 101.575.891 101.168.484c-.406-.406-.609 8.329-.508 19.5Z" />
        </svg>
        <span style="margin-block-start: 8px;">{{system.attributes.grit}}</span>
      </button>
      <label>Grit</label>
      {{!-- {{formField system.schema.fields.advances.fields.grit value=system.advances.grit localize=true}} --}}
    </div>
    <div>
      <button data-action="rollAttribute" data-attribute="gait">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="60"
          height="60" viewBox="0 0 216 188">
          <path fill="currentColor"
            d="M74.242 2.203C38.152 9.922 9.078 38.97 1.555 74.72c-2.033 9.445-2.033 30.164 0 39.609 5.896 27.93 24.805 51.899 50.83 64.492 15.452 7.516 22.873 9.141 41.172 9.141 11.691-.102 17.486-.508 22.365-1.828 18.706-5.078 32.938-13.406 45.849-26.813 7.624-7.922 11.488-13.304 16.164-22.648 3.253-6.399 8.133-20.211 8.133-22.953 0-1.727 2.846-3.149 16.265-8.024 18.299-6.804 18.502-6.601-5.286-6.601-23.585 0-21.349-.813-22.67 8.531-1.017 7.109-5.083 18.687-9.455 26.508-13.114 23.664-35.377 38.187-63.13 41.336-9.455 1.015-12.505.914-21.044-.407-32.938-5.484-58.048-28.742-66.587-61.75-2.847-11.374-2.44-31.078 1.118-42.148C29.816 25.156 78.105 1.391 123.039 18.25c25.313 9.445 46.153 33.82 50.83 59.516.711 3.656 1.423 7.617 1.626 8.937.407 2.133.915 2.336 6.303 2.031l5.795-.304-.305-4.57c-1.525-21.837-15.249-47.227-33.243-61.852-12.098-9.75-24.297-15.742-39.648-19.5-9.861-2.336-30.091-2.54-40.155-.305Z" />
        </svg>
        <span style="margin-inline-end: 8px;">{{system.attributes.gait}}</span>
      </button>
      <label>Gait</label>
      {{!-- {{formField system.schema.fields.advances.fields.gait value=system.advances.gait localize=true}} --}}
    </div>
    <div>
      <button style="margin-block: 4px -4px;" data-action="rollAttribute"
        data-attribute="grip">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="60"
          height="60" viewBox="0 0 189 218">
          <path fill="currentColor"
            d="M75.442 2.102C19.325 14.594-12.596 70.758 5.398 124.89c9.658 28.945 35.48 53.015 64.96 60.531l6.507 1.625 5.693 14.93c3.151 8.125 5.998 15.132 6.404 15.539.407.406.712-8.633.712-20.11v-20.82l-7.726-1.32c-31.616-5.078-56.93-27.422-65.977-58.399-13.42-45.805 16.062-93.64 63.232-102.68 43.511-8.328 86.208 20.11 95.459 63.477 1.83 8.531 1.83 25.086 0 33.617-5.998 27.828-26.432 51.086-53.168 60.43-3.762 1.32-8.642 2.641-10.675 2.945-2.135.305-5.489.813-7.421 1.117l-3.558.61v12.29l5.896-.609c27.245-3.25 53.982-20.11 68.519-43.266 9.76-15.641 14.029-30.875 14.029-50.274 0-29.859-10.979-53.421-34.056-72.82-7.929-6.703-23.585-14.93-34.564-18.18C110.209.781 85.201-.03 75.442 2.102Z" />
        </svg>
        <span style="margin-block-end: 8px;">{{system.attributes.grip}}</span>
      </button>
      <label>Grip</label>
      {{!-- {{formField system.schema.fields.advances.fields.grip value=system.advances.grip localize=true}} --}}
    </div>
    <div>
      <button data-action="rollAttribute" data-attribute="glim">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="60"
          height="60" viewBox="0 0 217 189">
          <path fill="currentColor"
            d="M108.826 1.516C73.753 6.39 42.036 33.508 32.479 66.719c-3.253 11.273-3.354 11.476-8.742 13.304-8.235 2.743-22.67 8.329-23.382 9.141-.407.406 8.438.711 19.62.711H40.41L41.02 85c4.88-34.227 29.075-61.344 62.114-69.367 47.17-11.578 93.426 20.414 100.135 69.164 1.932 13.61.102 27.32-5.388 40.625-4.27 10.562-8.946 17.57-16.774 25.695-16.672 17.164-35.784 25.289-59.166 25.289-26.228 0-48.593-10.968-64.554-31.687-8.438-10.867-12.606-20.414-15.757-35.547l-1.728-8.633-5.795-.305-5.693-.304v3.148c0 5.18 3.05 18.383 6.1 26.203 8.844 22.852 29.278 43.571 51.846 52.711 11.894 4.875 21.247 6.602 35.581 6.602 23.484-.102 39.444-5.383 57.641-19.094 16.774-12.797 28.974-31.484 34.463-53.219 2.847-11.273 2.643-32.906-.508-44.687-9.15-34.43-35.581-60.125-70.451-68.555-7.929-1.93-25.618-2.742-34.259-1.523Z" />
        </svg>
        <span
          style="margin-inline-start: 8px;">{{system.attributes.glim}}</span>
      </button>
      <label>Glim</label>
      {{!-- {{formField system.schema.fields.advances.fields.glim value=system.advances.glim localize=true}} --}}
    </div>
    <div>
      <div class="guts">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="54"
          height="54" viewBox="0 0 189 189">
          <path fill="currentColor"
            d="M83.957 1.21C68.403 2.837 47.563 11.673 35.466 21.829 16.456 37.57 2.528 63.164 1.409 84.086l-.305 5.281 5.795.305 5.795.305.61-3.86C17.98 56.055 33.94 33.507 59.152 21.32c7.828-3.86 21.044-7.617 26.432-7.617 3.863 0 4.88-1.93 4.27-8.633-.305-4.265-.61-4.367-5.897-3.86Zm16.673.61c-.305.813-.407 3.657-.204 6.399.305 4.672.509 4.976 3.355 5.281 17.689 1.625 37.309 11.477 50.525 25.29 11.183 11.882 17.587 24.374 21.044 41.437l1.83 9.14h5.489c4.982 0 5.49-.203 5.795-2.336 1.017-7.11-5.795-28.945-12.708-40.726-4.778-8.024-17.892-22.14-26.126-28.032-11.589-8.125-27.347-14.726-39.241-16.148a139.91 139.91 0 0 1-7.421-1.219c-.915-.304-2.033.102-2.338.914ZM1.003 101.453c-.712 1.93 2.135 17.164 4.575 24.07 11.386 33.211 42.29 58.399 77.058 62.766 7.014.813 7.421.508 7.421-5.484 0-5.282-.915-6.602-4.473-6.602-8.844 0-26.94-6.906-38.122-14.422-17.69-12.086-30.905-34.125-34.158-56.976l-.61-4.774H7.103c-3.864 0-5.693.407-6.1 1.422Zm175.465 1.32c0 5.789-4.27 20.11-8.133 27.93-5.286 10.461-10.471 17.367-18.502 24.578-11.894 10.867-29.278 19.094-43.409 20.516l-6.201.711v12.187l6.913-.609c11.996-1.016 29.481-7.516 40.867-15.234 11.589-7.922 25.415-23.766 31.515-36.36 4.066-8.226 7.929-21.43 8.743-29.859l.711-6.602h-6.303c-6.099 0-6.201 0-6.201 2.742Z" />
        </svg>
        <input type="number" name="system.guts" value="{{system.guts}}" min="0"
          step="1" max="{{system.gutsMax}}" />
      </div>
      <label>Guts</label>
    </div>
    <div>
      <div class="move">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="54"
          height="54" viewBox="0 0 188 189">
          <path fill="currentColor"
            d="M80.718 1.617c-14.64 2.133-28.77 7.617-41.274 16.149-9.048 6.093-9.15 6.5-4.372 11.273l4.067 4.063 7.32-5.079c14.028-9.648 29.48-14.523 46.356-14.625 18.096-.203 35.479 5.586 50.423 16.657 19.621 14.523 32.328 40.015 32.43 64.898 0 15.133-5.998 33.82-15.249 47.024l-4.981 7.312 3.659 3.758c2.135 2.133 4.27 3.859 4.88 3.859 1.728 0 9.454-11.273 14.131-20.82 7.014-14.016 9.149-23.563 9.149-40.625.102-20.313-3.761-34.227-14.131-50.781-19.213-30.875-56.624-48.243-92.409-43.063Zm-63.233 37.68C11.589 47.523 5.591 59.71 2.643 70.07.609 77.078.304 80.43.304 94.953c0 14.524.407 17.875 2.44 24.883 5.083 17.469 13.724 31.687 26.838 43.773 18.91 17.469 38.428 24.985 64.86 24.883 22.67-.101 41.579-6.805 59.776-21.226l2.44-1.93-4.168-4.469c-3.152-3.351-4.474-4.164-5.592-3.453-15.147 11.172-29.075 16.961-44.832 18.688-29.685 3.453-59.573-10.665-76.448-35.954-10.065-15.031-14.233-30.367-13.318-49.156.814-17.57 4.677-28.945 14.436-43.164 2.542-3.656 4.575-7.11 4.575-7.516 0-1.218-6.506-7.312-7.93-7.312-.61 0-3.253 2.844-5.896 6.297Z" />
          <path fill="currentColor"
            d="M91.392 93.023C71.67 112.727 55.81 129.281 56.014 129.79c.203.609 1.118 1.523 2.033 2.133 1.424.914 7.32-4.469 37.716-34.836 31.82-31.79 35.886-36.156 34.869-37.883-.711-1.016-1.728-1.828-2.338-1.828-.711 0-17.282 16.047-36.902 35.648Z" />
        </svg>
        <span>{{system.move}}</span><span>{{system.run}}</span>
      </div>
      <label style="white-space: nowrap;">Move • Run</label>
    </div>
  </div>

  <!-- Armor -->
  <div class="armor" data-drop-type="armor">
    {{!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 305 674">
      <path fill="currentColor"
        d="M134.733 4.4c-2.8 2.267-7.066 5.867-9.6 8-2.533 2-7.466 8.267-10.933 14l-6.533 10.267L107 59.333c-.4 12.4-1.2 23.6-1.733 24.8-2.134 4.4 15.6 22 25.733 25.6 1.333.534 1.067.8-.8.8-1.6.134-4.933-1.333-7.6-3.066-6.933-4.8-9.6-5.2-13.867-2.534-2.133 1.467-7.2 2.667-12.4 3.067-8.266.667-8.666.8-8.4 4 .134 2.933-1.066 4-7.066 7.2-9.467 5.067-21.334 16.533-24.667 24.133-1.467 3.467-3.067 9.467-3.467 13.467-.4 4-1.2 7.2-1.866 7.2-.534 0-.934 4.667-.8 10.4 0 5.6-.267 10.933-.8 11.733-.4.8 0 4.267 1.066 7.734 1.734 5.866 1.734 6.666-.533 9.866-1.6 2.267-2.933 7.2-3.467 12.8-.666 7.2-1.866 10.934-5.2 16.667-4.533 7.467-8.8 18.4-8.8 22.267 0 4.8-5.866 21.866-7.466 21.866-.934 0-3.734 1.734-6.267 4-4.267 3.6-4.667 4.934-6.8 18.4-1.333 8-2.133 15.334-1.867 16.4.134 1.067-1.866 4.667-4.666 8-5.334 6.667-5.6 7.467-3.6 14.8 2.8 10 12.133 17.2 24.266 18.8 6.8.934 14.4-1.066 14.4-3.733 0-.933-2.4-3.867-5.333-6.533-4.933-4.4-5.2-5.067-3.333-6.934 1.066-1.2 2-3.466 2-5.066 0-3.467 3.066-6.667 7.733-8.134 1.867-.533 4.4-3.6 6.8-8.4C50.333 314.8 54.467 308 57.533 304c5.867-7.867 6.134-8.4 4.267-11.867-1.6-2.8 3.467-17.866 8.533-25.2 2.8-4.133 3.334-6.4 3.334-14.933 0-5.467.933-14.267 2.133-19.333 1.2-5.2 2.933-15.334 4-22.667l1.733-13.333L81 209.333c-.267 6.934-1.467 16-2.667 20-1.066 4-2.4 14.267-2.8 22.8l-.933 15.334 4.133 1.733c2.534 1.067 4.667 3.2 5.467 5.867.8 2.133 1.333 4.133 1.2 4.266-.267.134-3.067 1.067-6.4 2.134-5.333 1.6-6.4 2.666-9.6 9.2C62.6 304.267 56.067 322 56.067 326c.133 2.533-2 7.333-5.867 13.2-3.2 5.067-5.867 9.733-5.867 10.4 0 .533 1.2 1.067 2.667 1.067 1.467 0 2.667.266 2.667.666 0 1.467-5.334 11.334-13.867 25.334-10.267 16.933-12.267 22-10.133 26 1.6 2.933 8.8 6.666 12.666 6.666 2.267 0 6.4 3.867 7.734 7.067 1.066 2.8 11.866 8.267 21.866 11.067 7.734 2.133 8 2.4 9.467 8 2.533 9.6 2 28.266-.933 34.533-2.4 5.067-5.2 15.867-6 23.333-.267 1.867-.8 4.4-1.334 5.6-.533 1.2-.666 2.934-.133 3.734.4.666 1.067 19.466 1.467 41.733.666 38 .533 40.667-2.134 48.133-1.466 4.4-2.666 10.4-2.666 13.6 0 4.667-1.334 7.6-8.934 18.667-4.8 7.333-11.466 15.733-14.666 18.8-4.134 4.133-5.734 6.8-5.734 9.467 0 6 4 8.533 14.667 9.333 13.867.933 19.067-1.467 30.8-14.533 9.333-10.4 9.6-10.534 16-10.534 4.8 0 6.8-.666 7.733-2.266 2.534-4.934 2.934-14.534.8-24.267-1.866-9.067-1.866-10 .134-11.467 1.733-1.2 2-2.533 1.333-5.466-2.4-9.734-2.533-11.6-.533-13.067 2.533-2 5.866-10.533 4.266-11.067-4.533-1.6-4.8-2.666-3.2-9.866.8-4 2.534-15.334 3.867-25.334 2.133-16.666 2.667-18.533 6.533-23.466C122.2 506.8 123.267 504 124.2 496c1.067-8.133.933-10.4-.667-12.133-3.066-3.334-2.4-8.934 1.2-9.467 4.134-.533 5.067-7.733 1.067-7.733-3.6 0-3.6-3.467 0-5.6 2.933-1.867 6.933-7.734 9.067-13.334 1.333-3.466 1.2-3.6-4.267-4.933-4.133-.933-1.2-1.067 11.067-.533 10.266.533 18.666.133 21.866-.667 6.134-1.733 8.267-.933 2.934.933-2 .8-3.467 2.4-3.467 3.734.133 5.466 2.667 12.8 5.467 15.866 3.2 3.467 8 16 6.933 18.667-.933 2.533 2.133 7.2 4.8 7.2 2 0 2.4 1.067 2.533 6.4.134 16 .4 18.8 1.6 19.6.667.4 1.334 2.533 1.334 4.667 0 4.266 5.6 20.933 12.533 37.2l4.667 10.8h-3.2c-5.6 0-5.2 2.8 1.066 8.133 5.867 5.067 6.134 5.6 6.8 14.267 1.067 11.866 1.067 14.133.534 24.266-.134 4.8.266 10.4 1.2 12.667.8 2.133 1.866 6.267 2.4 9.067.666 4.266 1.866 5.733 7.466 9.2 4.667 2.8 7.867 6.133 10.667 11.2 5.2 9.066 16.133 16.666 25.333 17.6 8.534.8 17.867-.667 21.2-3.467 2.534-2.133 2.534-2.533.667-8.133-2.533-7.2-8.533-16-16.933-24.934-7.2-7.733-11.6-16.266-8.934-17.866 2.134-1.467.667-10.134-3.6-20.4-5.2-12.667-8.4-30.134-9.866-53.067-.667-11.467-2.134-24.8-3.067-29.467-1.2-5.466-1.467-9.733-.667-11.733.667-1.733.8-4.133.267-5.2-.533-1.2-.933-6.4-1.067-11.467-.266-10.666-2.8-16.8-9.2-22.266-3.733-3.067-4-3.867-2.666-6.667 2-4 3.6-11.2 3.6-17.067.133-4.4.4-4.666 6.666-5.866l6.4-1.2-.8-6c-.4-3.2-.8-7.2-.8-8.8 0-5.734-1.6-6.267-10.666-3.467-22.667 6.933-46.934 10.4-56 8-8.134-2.267-8.8-5.2-4-20.8 2.266-7.067 6-20.8 8.266-30.4 2.4-9.6 4.534-16.4 4.8-15.2.534 2.8-6.933 33.467-11.2 45.6-5.866 16.933-4.4 19.467 11.2 19.467s36-4.534 62.267-13.867c2.533-.933 2.533-.933.267.933-2.267 1.867-1.467 4.134 15.866 41.867 10 21.867 19.467 41.333 21.067 43.333 3.467 4.4 8.133 4.8 10.267.8 3.066-5.6-.534-29.066-4.4-29.066-.667 0-1.734-1.6-2.534-3.734-.666-2-7.2-16.266-14.4-31.6-9.866-21.066-13.733-27.866-15.333-27.6-4.133.8-2-1.066 11.733-10.4 14.8-9.866 21.2-16.4 29.067-29.733 2.667-4.533 6.533-10.8 8.533-14 3.467-5.733 3.6-6.133 2.934-22-.8-19.067-4.8-32.667-16.134-54.933-6.8-13.334-25.2-41.734-34-52.534C249 214 206.467 184.8 203.8 185.733c-3.467 1.2-4.933 6.934-4 17.067.933 12.133-1.733 50.667-3.733 52.533-.934.934-1.2.134-.534-2.666.4-2.267 1.2-17.2 1.6-33.334.934-31.066 1.734-35.333 7.2-35.333 1.6 0 10.8 5.467 20.667 12l18 12v-8.4c0-4.533.933-11.733 1.867-15.733 3.333-12.534-.934-32.667-9.867-46.534-4.133-6.4-9.333-12-9.333-10 0 .667-1.6-.4-3.6-2.266-2.134-2-7.067-4.8-11.067-6.4-4-1.6-8.8-4.267-10.667-6-1.866-1.6-5.466-3.334-8-3.734-2.533-.4-8.666-1.733-13.6-2.933l-8.933-2.133-5.867 3.333c-3.2 1.867-6.933 3.467-8.4 3.467-1.6-.134-.933-.8 2.134-2.134 5.866-2.533 17.6-10.4 20.133-13.333 1.333-1.6 1.867-6.133 1.867-16.4 0-7.733.533-18.4 1.2-23.467 1.066-8.8.933-10-3.067-19.333-2.4-5.467-6.133-12-8.533-14.4C163.4 15.467 143.4 0 141.267 0c-.8 0-3.867 2-6.534 4.4Z" />
    </svg> --}}
    <label>Armor</label>
    <div class="totals">
      <div>
        <span>{{system.armor.head}}</span>
        <label>Head (8)</label>
      </div>
      <div>
        <span>{{system.armor.body}}</span>
        <label>Body (5-7)</label>
      </div>
      <div>
        <span>{{system.armor.arms}}</span>
        <label>Arms (3-4)</label>
      </div>
      <div>
        <span>{{system.armor.legs}}</span>
        <label>Legs (1-2)</label>
      </div>
    </div>
    <ul>
      {{#with armor}}
        <li data-action="editItem" data-uuid="{{head.uuid}}">
          <span>{{head.name}}
            {{#if head}}({{head.system.value}}){{/if}}</span>
          <span>Head</span>
        </li>
        <li data-action="editItem" data-uuid="{{body.uuid}}">
          <span>{{body.name}}
            {{#if body}}({{body.system.value}}){{/if}}</span>
          <span>Body</span>
        </li>
        <li data-action="editItem" data-uuid="{{arms.uuid}}">
          <span>{{arms.name}}
            {{#if arms}}({{arms.system.value}}){{/if}}</span>
          <span>Arms</span>
        </li>
        <li data-action="editItem" data-uuid="{{legs.uuid}}">
          <span>{{legs.name}}
            {{#if legs}}({{legs.system.value}}){{/if}}</span>
          <span>Legs</span>
        </li>
        <li data-action="editItem" data-uuid="{{shield.uuid}}">
          <span>{{shield.name}} {{#if shield}}({{shield.system.locations}}
              {{shield.system.value}}){{/if}}</span>
          <span>Shield</span>
        </li>
      {{/with}}
    </ul>
  </div>
  <div class="skills">
    <div class="grit">
      <label>Grit</label>
      <ul>
        {{#each skills.grit as |item|}}
          <li data-action="editItem" data-uuid="{{item.uuid}}">
            <span>{{item.name}}</span>
            <span>{{item.system.description}}</span>
            <span>{{item.system.rank}}</span>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="gait">
      <label>Gait</label>
      <ul>
        {{#each skills.gait as |item|}}
          <li data-action="editItem" data-uuid="{{item.uuid}}">
            <span>{{item.name}}</span>
            <span>{{item.system.description}}</span>
            <span>{{item.system.rank}}</span>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="grip">
      <label>Grip</label>
      <ul>
        {{#each skills.grip as |item|}}
          <li data-action="editItem" data-uuid="{{item.uuid}}">
            <span>{{item.name}}</span>
            <span>{{item.system.description}}</span>
            <span>{{item.system.rank}}</span>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="glim">
      <label>Glim</label>
      <ul>
        {{#each skills.glim as |item|}}
          <li data-action="editItem" data-uuid="{{item.uuid}}">
            <span>{{item.name}}</span>
            <span>{{item.system.description}}</span>
            <span>{{item.system.rank}}</span>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{!-- <div class="ammo">
    <label>Ammo</label>
    <ul class="list">
      {{#each ammo as |item|}}
        <li data-action="editItem" data-uuid="{{item.uuid}}">
          {{item.name}}<span>{{item.system.quantity}}</span>
        </li>
      {{/each}}
    </ul>
  </div> --}}
  <div class="aura">
    <label>Aura</label>
    {{formField system.schema.fields.aura.fields.value value=system.aura.value localize=true}}
    {{formField system.schema.fields.aura.fields.max value=system.aura.max localize=true}}
  </div>
  <div class="resources">
    {{formField system.schema.fields.resources.fields.gold value=system.resources.gold localize=true}}
    {{formField system.schema.fields.resources.fields.silver value=system.resources.silver localize=true}}
    {{formField system.schema.fields.resources.fields.copper value=system.resources.copper localize=true}}
  </div>
  <div class="gear" data-drop-type="gear">
    <label><span>Gear</span><span>Slots</span></label>
    <ul>
      {{#each gear as |item|}}
        <li data-action="editItem" data-uuid="{{item.uuid}}">
          <span>{{item.name}}{{#if (eq item.type "ammo")}}
              ({{item.system.quantity}}){{/if}}</span><span>{{add @index 1}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="notes-section">
    <label>Notes</label>
    <div class="form-field">
      {{formInput system.schema.fields.notes value=system.notes enriched=enriched.system.notes toggled=true}}
    </div>
  </div>
</div>